/**将fonts文件下面的.ttf文件上传至http://www.font2web.com/，生成新的字体文件*/
/** https://transfonter.org/ 转字体网站*/
html,body,#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content{
  display: flex;
  height: 100%;
  .slide{
    width: 200px;
    height: 100%;
    background: #000;
    padding-top: 50px;
    p{
      width: 100%;
      height: 30px;
      line-height: 30px;
    }
  }
  #routerView{
    padding: 50px;
    .origin{
      width: 100%;
      height: 100%;
      background-color: aquamarine;
      button{
        margin: 10px;
      }
    }
    .origin.effect{
      background-color: #7faeff;
    }
  }
}
